/*
    CSS3 for Encapsule Project Object Model Manager (OMM) library
    view model components.
*/

/* NEW STUFF :: A single level item in the tree-view */
.classObjectModelNavigatorMouseOverCursorPointer { cursor: pointer; }


.classObjectModelNavigatorSelectorWindow {
width: auto;
height: auto;
margin-left: 0.5em;
}

.classObjectModelNavigatorPathElementPrefix {
font-weight: bold;
color: #99CCFF;
}

.classObjectModelNavigatorParentPathElement {
font-weight: normal;
color: white;
}

.classObjectModelNavigatorSelectedPathElement {
font-weight: bold;
color: black;
}


/* Outer navigator window */
.classObjectModelNavigatorWindow {
font-family: Arial, Verdana, Courier;
font-size: 8pt;
margin: 0px;
}

/* Inner menu level window contained within an outer navigator window */
.classObjectModelNavigatorMenuWindow {
margin: 0px;
width: 100%;
overflow: hidden;
border-top: 1px solid rgba(255,255,255,0.1);
border-left: 1px solid rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.1);
border-right: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
}

.classMenuSelectedOuter {
border-bottom: 1px solid rgba(255,255,255,0.1);
border-right: 1px solid rgba(255,255,255,0.1);
border-top: 1px solid rgba(0,0,0,0.1);
border-left: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
background-color: rgba(255,255,255,0.05);
}

.classMenuSelected {
background-color: rgba(0,200,255,0.7);
font-weight: bold;
font-size: 10pt;
color: black;
text-decoration: none;
padding: 0.05em;
white-space: nowrap;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
border-top: 1px solid rgba(0,0,0,0.5);
border-left: 1px solid rgba(0,0,0,0.5);
border-bottom: 1px solid rgba(255,255,255,0.5);
border-right: 1px solid rgba(255,255,255,0.5);
-moz-border-radius: 8px; border-radius: 8px;
}

.classMenuUnselectedOuter {
}

.classMenuUnselected {
font-weight: normal;
font-size: 10pt;
color: #CCCCCC;
text-decoration: none;
padding: 0.05em;
white-space: nowrap;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
border-top: 1px solid rgba(255,255,255,0.2);
border-left: 1px solid rgba(255,255,255,0.2);
border-bottom: 1px solid rgba(0,0,0,0.2);
border-right: 1px solid rgba(0,0,0,0.2);
-moz-border-radius: 8px; border-radius: 8px;
}



.classObjectModelNavigatorNamespaceHash {
background-color: rgba(0,0,0,0.1);
font-family: Courier;
font-size: 6pt;
margin: 0px;
padding: 4px;
height: 1em;
display: none;
}

.classObjectModelNavigatorNamespaceContext {
padding: 4px;
padding-left: 10px;
font-size: 10pt;
background-color: rgba(0,0,0,0.05);
border-bottom: 1px solid #999999;
}

.classObjectModelNavigatorNamespaceContextLabel {
color: #CCCCCC;
}

.classObjectModelNavigatorNamespaceContextPrefix {
color: white;
font-weight: bold;
}

.classObjectModelNavigatorNamespaceTitleBar {
padding: 4px;
padding-left: 10px;
}

.classObjectModelNavigatorNamespaceTitle {
font-size: 16pt;
font-weight: bold;
}

.classObjectModelNavigatorNamespaceSubtitle {
font-size: 10pt;
font-weight: normal;
color: #333333;
}


/* title DIV */
.classObjectModelNavigatorJsonTitle {
font-size: 10pt;
font-weight: bold;
color: #333333;
padding: 0.25em;
padding-left: 1em;
background-color: rgba(0,0,0,0.1);
border-bottom: 1px solid #CCCCCC;
}

/* JSON DIV */
.classObjectModelNavigatorJsonBody {
}

/* PRE JSON container */
.classObjectModelNavigatorJsonPreformat {
font-size: 8pt;
font-family: Lucica Console, Courier;
}







/* END OF NEW STUFF */

