/*
    CSS3 for encapsule-lib-spinner.js
*/

.classCentered { position: fixed; top: 50%; left: 50% }

#idSpinner { z-index: 200; }

#idSpinnerCore {
margin-left: -66px; margin-top: -65px;  opacity: 0.7; background-color: #0099CC; -webkit-border-radius: 0.75em; -moz-border-radius: 0.75em; border-radius: 0.75em; border: 1px solid #006699;
}

#idSpinnerTitle { z-index: 200; font-family: Verdana, Arial; font-weight: bold; font-size: 14pt; 
color: #00CCFF; position: fixed; top: 50%; left: 50%; text-align: center; text-shadow: black 0.1em 0.1em 0.3em ;
}
#idSpinnerCaption { z-index: 200; font-family: Verdana, Arial; font-weight: bold; font-size: 20pt; 
color: #00CC00; position: fixed; top: 50%; left: 50%; text-align: center; text-shadow: black 0.1em 0.1em 0.3em ;
}
