/*
    CSS3 for Encapsule Project Object Model Manager (OMM) library
    view model components.
*/

/* NEW STUFF :: A single level item in the tree-view */
.classObjectModelNavigatorMouseOverCursorPointer { cursor: pointer; }


.classObjectModelNavigatorSelectorWindow {
width: auto;
height: auto;
margin-left: 0.5em;
}

.classObjectModelNavigatorPathElementPrefix {
font-weight: bold;
color: #99CCFF;
}

.classObjectModelNavigatorParentPathElement {
font-weight: normal;
color: white;
}

.classObjectModelNavigatorSelectedPathElement {
font-weight: bold;
color: black;
}


/* Outer navigator window */
.classObjectModelNavigatorWindow {
font-family: Arial, Verdana, Courier;
font-size: 8pt;
margin: 0px;
}

/* Inner menu level window contained within an outer navigator window */
.classObjectModelNavigatorMenuWindow {
margin: 0px;
border-top: 1px solid rgba(255,255,255,0.1);
border-left: 1px solid rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.1);
border-right: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
}

.classMenuSelectedOuter {
border-bottom: 2px solid rgba(255,255,255,0.3);
border-right: 2px solid rgba(255,255,255,0.3);
border-top: 2px solid rgba(0,0,0,0.3);
border-left: 2px solid rgba(0,0,0,0.3);
-moz-border-radius: 8px; border-radius: 8px;
}

.classMenuSelected {
background-color: rgba(0,200,255,0.7);
font-weight: bold;
font-size: 10pt;
color: black;
text-decoration: none;
padding: 0.05em;
border-top: 1px solid rgba(0,0,0,0.5);
border-left: 1px solid rgba(0,0,0,0.5);
border-bottom: 1px solid rgba(255,255,255,0.5);
border-right: 1px solid rgba(255,255,255,0.5);
-moz-border-radius: 8px; border-radius: 8px;
}

.classMenuUnselectedOuter {
}

.classMenuUnselected {
font-weight: normal;
font-size: 10pt;
color: #CCCCCC;
text-decoration: none;
padding: 0.05em;
border-top: 1px solid rgba(255,255,255,0.2);
border-left: 1px solid rgba(255,255,255,0.2);
border-bottom: 1px solid rgba(0,0,0,0.2);
border-right: 1px solid rgba(0,0,0,0.2);
-moz-border-radius: 8px; border-radius: 8px;
}



.classObjectModelNavigatorNamespaceHash {
font-family: Courier;
font-size: 8pt;
margin: 0px;
padding: 0px;
border-bottom: 1px solid #999999;
}

.classObjectModelNavigatorNamespaceTitleBar {
padding: 10px;
}

.classObjectModelNavigatorNamespaceTitle {
font-size: 16pt;
font-weight: bold;
}

.classObjectModelNavigatorNamespaceSubTitle {
font-size: 10pt;
font-weight: normal;
}
/* END OF NEW STUFF */

