/*
    CSS3 for Encapsule Project Object Model Manager (OMM) library
    view model components.
*/

/* NEW STUFF :: A single level item in the tree-view */
.classObjectModelNavigatorMouseOverCursorPointer { cursor: pointer; }


.classObjectModelNavigatorSelectorWindow {
width: auto;
height: auto;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-left: 0.5em;
}

.classObjectModelNavigatorSelectorPathElement {
}

.classObjectModelNavigatorSelectorPathElement .prefix {
font-weight: bold;
color: rgba(0,0,0,0.3);
}

.classObjectModelNavigatorSelectorPathElement .parent {
font-weight: normal;
color: #99CCFF;
}

.classObjectModelNavigatorSelectorPathElement .selected {
font-weight: bold;
color: black;
}


/* Outer navigator window */
.classObjectModelNavigatorWindow {
font-family: Arial, Verdana, Courier;
font-size: 8pt;
margin: 0px;
}

/* Inner menu level window contained within an outer navigator window */
.classObjectModelNavigatorMenuWindow {
margin: 0px;
width: 100%;
overflow: hidden;
border-top: 1px solid rgba(255,255,255,0.1);
border-left: 1px solid rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.1);
border-right: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
background-color: rgba(0,0,0,0.02);
}

.classMenuSelectedOuter {
border-bottom: 1px solid rgba(255,255,255,0.1);
border-right: 1px solid rgba(255,255,255,0.1);
border-top: 1px solid rgba(0,0,0,0.1);
border-left: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
background-color: rgba(0,255,0,0.1);
}

.classMenuSelected {
background-color: rgba(0,255,0,0.5);
font-weight: bold;
font-size: 10pt;
color: black;
text-shadow: 0.1em 0.1em 0.1em rgba(255,255,255,0.5);
text-decoration: none;
padding: 0.05em;
white-space: nowrap;
width: auto;
overflow: hidden;
text-overflow: ellipsis;
border-top: 1px solid rgba(0,0,0,0.5);
border-left: 1px solid rgba(0,0,0,0.5);
border-bottom: 1px solid rgba(255,255,255,0.5);
border-right: 1px solid rgba(255,255,255,0.5);
-moz-border-radius: 8px; border-radius: 8px;
}

.classMenuUnselectedOuter {
background-color: rgba(0,0,0,0.1);
}

.classMenuUnselected {
background-color: rgba(255,255,255,0.05);
font-weight: normal;
font-size: 10pt;
color: #CCCCCC;
text-decoration: none;
text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
padding: 0.05em;
white-space: nowrap;
width: auto;
overflow: hidden;
text-overflow: ellipsis;
border-top: 1px solid rgba(255,255,255,0.2);
border-left: 1px solid rgba(255,255,255,0.2);
border-bottom: 1px solid rgba(0,0,0,0.2);
border-right: 1px solid rgba(0,0,0,0.2);
-moz-border-radius: 8px; border-radius: 8px;
}



.classObjectModelNavigatorNamespaceHash {
background-color: rgba(0,0,0,0.1);
font-family: Courier;
font-size: 6pt;
margin: 0px;
padding: 4px;
height: 1em;
display: none;
}

.classObjectModelNavigatorNamespaceContext {
padding: 4px;
padding-left: 10px;
font-size: 10pt;
background-color: rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.2);
}

.classObjectModelNavigatorNamespaceContextLabel {
color: rgba(0, 0, 255, 1.0);
text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
font-style: normal;
font-family: Verdana, Arial;
font-size: 10pt;
font-weight: normal;
text-decoration: underline;
}

.classObjectModelNavigatorNamespaceContextLabelNoLink {
color: rgba(0,0,0,0.4);
text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
font-weight: bold;
font-style: normal;
font-family: Verdana, Arial;
font-size: 10pt;
}

.classObjectModelNavigatorNamespaceContextPrefix {
color: rgba(0,0,0,0.4);
font-weight: bold;
}


.classObjectModelNavigatorNamespaceCallbackLink {
}

.classObjectModelNavigatorNamespaceCallbackLink .prefix {
}

.classObjectModelNavigatorNamespaceCallbackLink .link {
padding: 0px;
padding-left: 8px;
padding-right: 8px;
color: white;
font-weight: bold;
text-decoration: none;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
border: 1px outset #999999;
-moz-border-radius: 8px; border-radius: 8px;
box-shadow: 0em 0.5em 1em rgba(255,255,255,0.5) inset;
}

.classObjectModelNavigatorNamespaceCallbackLink .nolink {
padding: 0px;
padding-left: 8px;
padding-right: 8px;
color: #444444;
border: 1px inset #999999;
-moz-border-radius: 8px; border-radius: 8px;
box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1) inset;
}





.classObjectModelNavigatorNamespaceTitleBar {
padding: 4px;
padding-left: 10px;
}

.classObjectModelNavigatorNamespaceTitle {
font-size: 16pt;
font-weight: bold;
font-family: Verdana, Arial;
color: black;
text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}

.classObjectModelNavigatorNamespaceSubtitle {
font-size: 10pt;
font-weight: bold;
font-family: Arial;
color: white;
}


/* title DIV */
.classObjectModelNavigatorJsonTitle {
font-size: 10pt;
color: #333333;
padding: 4px;
padding-left: 10px;
background-color: rgba(0,0,0,0.1);
border-bottom: 1px solid #999999;
}

/* JSON DIV */
.classObjectModelNavigatorJsonBody {
}

/* PRE JSON container */
.classObjectModelNavigatorJsonPreformat {
font-size: 8pt;
font-family: Lucica Console, Courier;
color: #333333;
}

.classObjectModelNavigatorNamespaceSectionTitle {
font-size: 10pt;
font-weight: bold;
font-family: Verdana, Arial;
color: rgba(0,0,0,0.3);
margin-top: 0px;
margin-left: 10px;
margin-right: 4px;
margin-bottom: 0px;
padding: 2px;
padding-left: 10px;
background-color: rgba(255,255,255, 0.1);
-moz-border-top-left-radius: 8px; border-top-left-radius: 8px;
}

.classObjectModelNavigatorNamespaceSectionCommon {
background-color: rgba(255,255,255,0.2);
padding: 4px;
padding-left: 10px;
margin-top: 0px;
margin-left: 10px;
margin-right: 4px;
margin-bottom: 10px;
border-bottom: 1px solid rgba(0,0,0,0.11);
border-top: 1px solid rgba(255,255,255,0.11);
border-left: 1px solid rgba(255,255,255,0.11);
border-right: 1px solid rgba(0,0,0,0.11);
-moz-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px;
}

.classActionAdd {
background-color: #00CC00;
}
.classActionRemove {
background-color: #CC0000;
}
.classActionRemoveAll {
background-color: #FF0000;
}

.classObjectModelNavigatorNamespaceSummary {

}

.classObjectModelNavigatorNamespaceSummary TABLE {
border: none;
margin: 0px;
padding: 0px;
width: 100%;
}

.classObjectModelNavigatorNamespaceSummary TABLE TD {
color: black;
border: none;
width: 50%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}



.classObjectModelNavigatorNamespaceProperties {
font-family: Courier;
font-size: 9pt;
color: #444444;
}

.classObjectModelNavigatorNamespaceProperties .name {
color: #CCCCCC;
font-weight: bold;
}

.classObjectModelNavigatorNamespaceProperties .name .immutable {
color: #666666;
font-weight: bold;
}


.classObjectModelNavigatorNamespaceProperties .type {
color: #006699;
}

.classObjectModelNavigatorNamespaceProperties .value {
color: white;
}

.classObjectModelNavigatorNamespaceProperties .value .immutable {
color: #444444;
}

.classObjectModelNavigatorNamespaceImmutable {


}

.classObjectModelNavigatorNamespaceMutable {


}

.classObjectModelNavigatorNamespaceComponent {


}

.classObjectModelNavigatorNamespaceChildren {


}

.classObjectModelNavigatorNamespaceCollection {
}




/* END OF NEW STUFF */

