/*
CSS3 styles for Encapsule Project ONMjs libraries bundled plug-in observers.
*/


.classONMjsMouseOverPointer { cursor: pointer; }

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.SelectedPathViewModel
---------------------------------------------------------------------------- */

.classONMjsSelectedPath {
width: auto;
height: auto;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-left: 0.5em;
}

.classONMjsSelectedPathElement
{
}

.classONMjsSelectedPathElement .prefix {
font-weight: bold;
color: rgba(0,0,0, 0.5);
text-shadow: 0.1em 0.1em 0.1em rgba(255,255,255,0.4);
}

.classONMjsSelectedPathElement .parent {
font-weight: normal;
color: rgba(0,200,255,1);
}

.classONMjsSelectedPathElement .component {
font-weight: bold;
color: rgba(0,200,255,1);
}

.classONMjsSelectedPathElement .selected {
font-weight: bold;
color: white;
text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.75);
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.NavigatorViewModel
---------------------------------------------------------------------------- */

/* Outer navigator window */
.classONMjsNavigator {
font-family: Arial, Verdana, Courier;
font-size: 8pt;
margin: 0px;
}

.classONMjsNavigatorItem {
margin: 0px;
width: auto;
overflow: hidden;
-moz-border-radius: 8px; border-radius: 8px;
border-left: 1px solid rgba(0,0,0,0.3);
}

.classONMjsNavigatorItemSelected {
-moz-border-radius: 8px; border-radius: 8px;
background-color: rgba(0,0, 64,0.15);
border: 1px solid rgba(255,255,255,0.5);
}

.classONMjsNavigatorItemSelectedLabel {
border-bottom: 1px solid rgba(255,255,255,0.2);
font-weight: bold;
font-size: 12pt;
color: white;
text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
text-decoration: none;
padding: 0.05em;
white-space: nowrap;
width: auto;
overflow: hidden;
text-overflow: ellipsis;
box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.2) inset;
padding-left: 0.4em;
padding-top: 0.1em;
padding-bottom: 0.1em;
-moz-border-radius: 8px; border-radius: 8px;
}

.classONMjsNavigatorItemSelectedChildren {
margin-left: 0.5em;
}

.classONMjsNavigatorItemUnselected {
background-color: rgba(255,255,255,0.02);
}

.classONMjsNavigatorItemUnselectedLabel {
border: 1px solid rgba(0,0,0,0.05);
background-color: rgba(255,255,255,0.05);
font-weight: bold;
font-size: 10pt;
color: rgba(0,200,255,0.8);
text-decoration: none;
text-shadow: -0.1em -0.1em 0.1em rgba(0,0,0,0.2);
padding: 0.05em;
white-space: nowrap;
width: auto;
overflow: hidden;
text-overflow: ellipsis;
box-shadow: 0em 0.5em 1em rgba(255,255,255,0.1) inset;
padding-left: 0.4em;
padding-top: 0.1em;
padding-bottom: 0.1em;
-moz-border-radius: 8px; border-radius: 8px;
}

.classONMjsNavigatorItemUnselectedChildren {
margin-left: 0.5em;
}


/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.helpers.*ViewModel
---------------------------------------------------------------------------- */


.classONMjsAddressSelectionLink {
padding: 4px;
padding-left: 10px;
background-color: rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.2);
}


.classONMjsAddressSelectionLinkPrefix {
color: rgba(0,0,0,0.4);
font-weight: bold;
}

.classONMjsAddressSelectionLinkLabel {
color: rgba(0,0,128,0.6);
font-weight: bold;
font-style: normal;
font-family: Verdana, Arial;
text-decoration: underline;
}

.classONMjsAddressSelectionLinkLabelNoLink {
color: rgba(0,0,0,0.4);
text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
font-weight: bold;
font-style: normal;
font-family: Verdana, Arial;
}

.classONMjsCallbackLink {
}

.classONMjsCallbackLink .prefix {
}

.classONMjsCallbackLink .link {
padding: 0px;
padding-left: 8px;
padding-right: 8px;
color: white;
font-weight: bold;
text-decoration: none;
text-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.8);
border: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
box-shadow: 0em 0.5em 1em rgba(255,255,255,0.5) inset;
}

.classONMjsCallbackLink .nolink {
padding: 0px;
padding-left: 8px;
padding-right: 8px;
color: #444444;
border: 1px solid rgba(0,0,0,0.1);
-moz-border-radius: 8px; border-radius: 8px;
box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1) inset;
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.SelectedNamespaceTitleViewModel
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespaceTitle {
padding: 4px;
padding-left: 10px;
padding-bottom: 10px;
}

.classONMjsSelectedNamespaceTitle .description {
font-size: 10pt;
font-weight: bold;
font-family: Arial;
color: rgba(0,0,0,0.5);
}

.classONMjsSelectedNamespaceTitleLinks {
font-size: 12pt;
font-family: Verdana, Arial;
color: black;
text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}

.classONMjsSelectedNamespaceTitleLinks .selected {
color: white;
text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.75);
font-size: 14pt;
font-weight: bold;
}

.classONMjsSelectedNamespaceTitleLinks .separator {
color: rgba(0,0,0,0.5);
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.SelectedJsonViewModel
---------------------------------------------------------------------------- */

.classONMjsSelectedJson {
font-size: 12pt;
color: #333333;
padding: 4px;
padding-left: 10px;
background-color: rgba(255,255,255,0.2);
border-bottom: 1px solid rgba(0,0,0,0.4);
}

.classONMjsSelectedJson .titleString {
color: white;
font-weight: bold;
text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.5);
font-weight: bold;
float: bottom;
}

.classONMjsSelectedJsonAddressHash {
font-size: 8pt;
font-family: Courier;
color: rgba(255,255,255,0.4);
margin-top: 1em;
margin-bottom: 1em;
}

.classONMjsSelectedJsonBody {
background-color: rgba(0,200,255,0.1);
font-size: 8pt;
font-family: Lucica Console, Courier;
color: black;
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.SelectedNamespace*ViewModel
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespaceSectionTitle {
font-size: 10pt;
font-weight: bold;
font-family: Verdana, Arial;
color: rgba(0,0,0,0.3);
margin-top: 0px;
margin-left: 10px;
margin-right: 4px;
margin-bottom: 0px;
padding: 2px;
padding-left: 10px;
background-color: rgba(255,255,255, 0.1);
-moz-border-top-left-radius: 8px; border-top-left-radius: 8px;
}

.classONMjsSelectedNamespaceSectionCommon {
background-color: rgba(255,255,255,0.2);
padding: 4px;
padding-left: 10px;
padding-right: 10px;
margin-top: 0px;
margin-left: 10px;
margin-right: 4px;
margin-bottom: 10px;
border-bottom: 1px solid rgba(0,0,0,0.11);
border-top: 1px solid rgba(255,255,255,0.11);
border-left: 1px solid rgba(255,255,255,0.11);
border-right: 1px solid rgba(0,0,0,0.11);
-moz-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px;
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.selectedNamespaceActionsViewMode
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespaceActions {
}

.classONMjsActionButtonAdd {
font-family: Verdana, Arial;
font-size: 12pt;
font-weight: bold;
background-color: #00CC00;
}
.classONMjsActionButtonRemove {
font-family: Verdana, Arial;
font-size: 12pt;
font-weight: bold;
background-color: #FF0000;
}
.classONMjsActionButtonRemoveAll {
font-family: Verdana, Arial;
font-size: 12pt;
font-weight: bold;
background-color: #FF0000;
}

.classONMjsActionButtonConfirm {
font-family: Verdana, Arial;
font-size: 12pt;
font-weight: bold;
background-color: #0099FF;
float: right;
}

.classONMjsActionButtonCancel {
font-family: Verdana, Arial;
font-size: 12pt;
font-weight: bold;
background-color: #00CC00;
}

.classONMjsActionConfirmation {
margin: 10px;
padding: 10px;
border: 1px solid black;
background-color: #FFFF00;
color: black;
box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.5);
-moz-border-radius: 8px; border-radius: 8px;
}


/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.selectedNamespace*PropertiesViewModel
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespacePropertiesCommon {
font-family: Courier;
font-size: 10pt;
color: #444444;
}

.classONMjsSelectedNamespacePropertiesImmutable {
}

.classONMjsSelectedNamespacePropertiesImmutable .name {
color: rgba(0,0,0,0.3);
background-color: rgba(0,255,0,0.1);
font-weight: bold;
float: left;
width: 172px;
border-bottom: 1px solid rgba(0,0,0,0.2);
padding-left: 0.25em;
}

.classONMjsSelectedNamespacePropertiesImmutable .type {
color: #006699;
float: left;
width: 128px;
text-align: center;
background-color: rgba(0,200,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.2);
overflow: hidden;
}

.classONMjsSelectedNamespacePropertiesImmutable .value {
color: #666666;
text-shadow: none;
min-height: 1em;
}

.classONMjsSelectedNamespacePropertiesMutable {
}

.classONMjsSelectedNamespacePropertiesMutable .buttons {
margin: 10px;
padding: 10px;
border: 1px solid black;
background-color: rgba(0,200,255, 0.3);
color: black;
box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.5);
-moz-border-radius: 8px; border-radius: 8px;
}

.classONMjsSelectedNamespacePropertiesMutable .name {
color: black;
background-color: rgba(0,255,0,0.1);
font-weight: bold;
float: left;
width: 172px;
padding-left: 0.25em;
}

.classONMjsSelectedNamespacePropertiesMutable .type {
color: #006699;
float: left;
width: 128px;
text-align: center;
background-color: rgba(0,200,255,0.1);
overflow: hidden;
}

.classONMjsSelectedNamespacePropertiesMutable .value {
color: white;
font-weight: bold;
text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
width: 100%;
background-color: rgba(0,0,0,0.1);
border: 1px solid rgba(0,0,0,0.3);
border-bottom: 1px solid rgba(0,0,0,0.2);
margin-bottom: 0.5em;
-moz-border-radius: 4px; border-radius: 4px;
min-height: 1em;
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.selectedNamespaceComponent
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespaceComponent {
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.selectedNamespaceChildren
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespaceChildren {
}

/* ----------------------------------------------------------------------------
Styles leveraged by ONMjs.observer.selectedNamespaceCollection
---------------------------------------------------------------------------- */

.classONMjsSelectedNamespaceCollection {
}

.classONMjsSelectedNamespaceCollection .link {
font-weight: bold;
font-size: 12pt;
}

