body { overflow: auto; margin: 0px; padding: 0px; background-color: #6699CC; }

.classCentered { position: fixed; top: 50%; left: 50% }

#idConsole
{
z-index: 100;
overflow: auto;
font-family: Lucida Console, Courier;
font-size: 8pt;
spacing: 5px;
padding: 10px;
color: #000033;
background-color: #77AADD;
display: none; // displayed only as needed
}

#idSchemaAppView { font-family: Verdana, Arial; font-size: 10pt; }

#idJSONSourceViewer { float: right; margin: 0px; padding: 10px; border: 1px solid black; background-color: #99CCFF; opacity: 0.5; font-family: Courier; font-size: 8pt; }

#idConsole h1 { color: white; }
#idConsole h2 { color: yellow; font-size: 20pt; font-weight: bold;}
#idConsole h3 { color: #00FF00; }

#idSpinner { z-index: 200; }

.classTitleSiteName { font-family: Courier; font-size: 16pt; font-weight: bold; fill: #CCCCCC; }

.classBodySection { border: 1px solid #CCCCCC; margin-bottom: 10px; }

