/*
    CSS3 for Schema navigator window.
*/

/* First-level container for the Schema navigator view model */
/* Actually, this has evolved to mean the tree-view-like thing. Navigator has many views... */

.classMouseCursorPointer { cursor: pointer; }

#idSchemaViewModelNavigator { position: fixed; top: 0px; left: 0px; width: 240px; height: 100%;
border-right: 1px solid black; border-top: 1px solid white; background-color: #00CCFF; overflow: auto; 
font-family: Verdana, Arial, Courier; 
opacity: 1.0; z-index: 1;}

.classObjectModelNavigatorWindow { 
margin: 1px;
margin-left: 4px;
padding: 1px;
font-family: Verdana, Arial, Courier; 
opacity: 1.0; z-index: 1;
-moz-border-radius: 6px; border-radius: 6px;
}

/* Styles for the little button area above the tree-view */
.classNavigatorViewDetailControlPanel {
font-family: Arial; font-size: 8pt; font-weight: normal; text-align: center; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding: 5px; background-color: rgba(0, 100, 160, 0.45); border-bottom: 1px solid #0099CC;
-moz-border-radius: 6px; border-radius: 6px;
}


.classObjectModelNavigatorMenuWindowInner {
margin: 2px;
margin-left: 8px;
}


/* Current tree-view selection path + metadata about the currently selected item */
.classSchemaNavigatorSelectedItemMetaWindow {
}

.classSchemaNavigatorSelectedItemMetaWindow table {
border: none;
margin: 0px;
padding: 0px;
}

.classSchemaNavigatorSelectedItemMetaWindow thead {
background-color: #DDEEFF;
}

.classSchemaNavigatorSelectedItemMetaWindow thead td {
background-color: #00FFFF;
}

.classSchemaNavigatorSelectedItemMetaWindow td {
border: none;
padding: 2px;
margin: 0px;
background-color: #00AADD;
}

.classNavigatorItemHostWindow {
margin: 8px;
}

.classNavigatorItemNamespace {}

.classNavigatorItemNamespace TABLE {
margin: 0px;
padding: 2px;
border: 1px solid #999999;
}

.classNavigatorItemNamespace THEAD {
text-align: center;
font-weight: bold;
}

.classNavigatorItemNamespace TD {
border: none;
}

.classNavigatorItemNamespaceImmutableHeader {
background-color: rgba(255,255,255,0.3);
color: rgba(0,0,0,0.5);
}

.classNavigatorItemNamespaceImmutableMember {
background-color: rgba(255,255,255,0.2);
color: rgba(0,0,0,0.5);
}

/* mutable namespace member header row style */
.classNavigatorItemNamespaceMutableHeader {
background-color: rgba(0,200,255,0.5);
color: rgba(255,255,255,1);
}

/* mutable namespace member table row (summary row) style */
.classNavigatorItemNamespaceMutableMember {
background-color: rgba(0,200,255,0.3);
color: rgba(255,255,255,0.75);
}

/* mutable namespace member table row (edit row) style */
.classNavigatorItemNamespaceMutableMemberEdit {
background-color: rgba(0,200,255,0.3);
}

/* mutable namespace member edit row containing DIV style */
.classNavigatorItemNamespaceMutableMemberEditArea {
-moz-border-radius: 6px; border-radius: 6px;
border: 2px solid white;
background-color: rgba(0,200,255,0.3);
padding: 5px;
margin: 5px;
}

/* mutable namespace member edit row label text style */
.classNavigatorItemNamespaceMutableMemberEditAreaLabel {
font-size: 12pt;
color: #00CCFF;
}

/* mutable namespace member edit row text edit div style */
.classNavigatorItemNamespaceMutableMemberEditAreEdit {
background-color: rgba(0,200,255,0.5);
color: white;
font-size: 14pt;
font-weight: bold;
margin: 5px;
padding: 5px;
border: 1px solid white;
}


/* Display attribute of the namespace member value in the summary row. */
.classNavigatorItemNamespaceMutableMemberValue {
}


.classEncapsuleNavigatorMenuItemJSONWindow {
font-family: Lucida Console, Couier;
font-size: 10pt;
font-weight: normal;
}