body
{
overflow: auto;
margin: 0px; padding: 0px;
background-color: #6699CC;
}

#idConsole
{
z-index: 100;
overflow: auto;
font-family: Lucida Console, Courier;
font-size: 8pt;
spacing: 5px;
padding: 10px;
color: #000033;
background-color: #77AADD;
display: none; // displayed only as needed
}

#idConsole h1 { color: white; }
#idConsole h2 { color: yellow; font-size: 20pt; font-weight: bold;}
#idConsole h3 { color: #00FF00; }


