////
// SCDL object model CSS class attributes
//




.classScdlCatalogueShim { margin: 0px; padding: 5px; background-color: #FF00FF; }

.classScdlCatalogue { margin: 0px; padding: 5px; background-color: #BBCCDD; }

.classScdlSubCatalogue { margin: 0px; margin-bottom: 5px; padding: 5px; background-color: #AABBCC; border: 1px solid #000000; }


.classScdlCatalogueShimHost { margin: 0px; padding 10px; border: 1px solid black; background-color: #DDEEFF; }
