/*
    CSS3 for Schema titlebar window.
*/

#idTitlebarAppPublisher {
font-size: 18pt;
font-weight: bold;
}
#idTitlebarAppPublisher A {
text-decoration: none;
color: #0099CC;
}
#idTitlebarAppPublisher A:hover {
text-decoration: underline;
}

#idTitlebarAppName {
font-size: 18pt;
font-weight: bold;
color: #006699;
}

.classTitlebarAppDetailName {
font size: 10pt;
font-weight: normal;
color: #339900;
}

.classTitlebarAppDetailValue {
font size: 10pt;
font-weight: bold;
color: #007700;
}