/*
    CSS3 for Schema navigator window.
*/

/* first-level container for the Schema navigator view model */
#idSchemaViewModelNavigator { position: fixed; top: 0px; left: 0px; width: 240px; height: 100%;
border-right: 1px solid black; border-top: 1px solid white; background-color: #00CCFF; overflow: auto; 
font-family: Verdana, Arial, Courier; 
opacity: 1.0; z-index: 1;}


.classSchemaViewModelNavigatorMenuLevel {
margin: 0px;
font-family: Arial;
box-shadow: 1px 1px 3px #003366;

}

.classNavigatorPathWindow {
font-family: Courier;
font-size: 10pt;
font-weight: bold;
color: #003366;
}

.classMouseCursorPointer { cursor: pointer; }
