# 
# .htacces (typically ignored by Apache unless use is explicitly enabled)
# 
# This .htaccess is kept up-to-date in the repo for reference and for use
# on development / non-performance critical deployments.

# Directory listing customization
IndexIgnore .htaccess

# Directory index customization
DirectoryIndex run.html

# Shut off access to directory listings
# Options -Indexes

# Directory security (securityModelNone)
# the contents of this cell are public

# Serve the correct MIME type for HTML5 app cache manifest.
AddType text/cache-manifest .appcache

# Set expire headers for app cache manifest to zero seconds.
# ExpiresByType text/cache-manifest "access plus 0 seconds"

# Turn on the mod_rewrite URL re-writing engine
#RewriteEngine On
#RewriteBase /

# Re-direct requests for non-existent php files to error 404 document
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule    ^[0-9a-zA-Z_/.-]+\.*$    /usr/www/users/orbital2/redirect.html

# Error document
#ErrorDocument 401 /redirect.html
#ErrorDocument 403 /redirect.html
#ErrorDocument 404 /redirect.html





